html, body {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}

.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    width: 100%;
    justify-content: space-between;
    background-color: #58AAF0;
    border: 1px gray solid;
}

.seccion-botones{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;

}

/* canvas{
    background-color: lightgray;
    border: 1px solid white;
} */

.btn{
    border-radius: 20px;
}

#btn-claro-oscuro,#btn-iniciar,#btn-reset{
    width: 70px;
    height: 70px;
    border-color: #585858;
    background: radial-gradient(#04B486, #58D3F7);
}

#btn-izquierda,#btn-abajo,#btn-derecha,#btn-arriba{
    width: 70px;
    height: 70px;
    border-color: black;
    background: radial-gradient(#04B431, #58FA82);
}

#game{
    display: grid;
    background-color: lightgray;
    border: 1px solid black;
}